<div class='container main-container'>

  <div>

    <!--<ul id="forecastSummaryTabs" >
      <li data-tab-id="0" data-tab-index="0" >-->
        <div class="textdeco"><h2><b>Weather Forecast</b></h2></div>
      
      <!--<li data-tab-id="1" data-tab-index="1" class="">
        <div class="largeTabInner">UK 5 days</div>
      </li>
      <li data-tab-id="2" data-tab-index="2" class="">
        <div class="largeTabInner last">UK 6-30 days</div>
      </li>-->
    

    <div id="forecastSummaryContent" class="largeTabContentContainer">

      <div data-content-id="0" class="largeTabContent">
        <h3>Regional Forecast for London &amp; South East England</h3>
        <h4>Headline:</h4>
        <p>Mainly dry with sunny spells. Rain spreading in overnight.</p>
        <h4>Today:</h4>
        <p>After a cold start, a largely sunny and dry day is expected. However some cloud will bubble up through the afternoon,
          and the odd light shower cannot be completely ruled out. Maximum temperature 12&nbsp;°C.</p>
        <h4>Tonight:</h4>
        <p>Dry at first with some clear spells, but cloud will thicken from the west by midnight with outbreaks of rain, locally
          heavy at times, spreading in during the early hours. Minimum temperature 5&nbsp;°C.</p>
        <h4>Tuesday:</h4>
        <p>Cloudy through the morning with some outbreaks of locally heavy rain, then brightening up by midday with some sunny
          spells developing during the afternoon, but also scattered showers. Maximum temperature 13&nbsp;°C.</p>
        <h4>Outlook for Wednesday to Friday:</h4>
        <p>Colder Wednesday, with early rain clearing to sunshine and heavy showers later. Further heavy showers or longer spells
          of rain Thursday and Friday. Some overnight frosts possible.</p>
        
      </div>
       <hr>

      <div data-content-id="1" class="largeTabContent noJsBlock">
        <h3>UK forecast for the next 5 days</h3>
        <h4>Headline:</h4>
        <p>Mainly fine with sunny spells, but rain in west later.</p>
        <h4>Today:</h4>
        <p>Patchy fog will soon clear, leaving a fine day for many. Isolated showers will continue across Scotland, with some
          developing elsewhere after midday. Wet and windy weather spreads into Northern Ireland this afternoon, and into
          other western parts by evening..</p>
        <h4>Tonight:</h4>
        <p>Rain and breezy conditions will spread eastwards across all parts overnight, with some hill snow in Scotland. The
          rain will ease and turn showery in western many parts by morning.</p>
        <h4>Tuesday:</h4>
        <p>Rain will clear slowly eastwards through Tuesday, but may linger over far north and northeastern areas and bringing
          some snow to the hills. Elsewhere bright spells and scattered showers.</p>
        <h4>Outlook for Wednesday to Friday:</h4>
        <p>Turning colder and increasingly unsettled, with showers and longer spells of rain bringing a risk of snow across
          northern hills, but also across more southern parts at times. Often windy.</p>
        
      </div>
        <hr>
      <div data-content-id="2" class="largeTabContent noJsBlock">
        <h3>Outlook for the UK over the next 6-30 days</h3>
        <h4>UK Outlook for Friday 30 Mar 2018 to Sunday 8 Apr 2018:</h4>
        <p>Throughout the Easter weekend unsettled weather is probable. Showers or longer outbreaks of rain are likely to affect
          all parts. We will all see some sunshine at times though, with the best of any drier and brighter weather expected
          across the northwest. It is also going to feel cold with a risk of snow in some places, particularly across higher
          ground in the northeast of the UK. Further ahead, the weather may become more settled across northern parts for
          a time, but southern parts are still likely to see showers or longer spells of rain at times. It is possible that
          as we approach the end of this period, more settled weather may develop across the whole country, giving a drier
          spell of weather, but still with night frosts.</p>
        <h4>UK Outlook for Monday 9 Apr 2018 to Monday 23 Apr 2018:</h4>
        <p>Throughout the middle of April a mixture of settled periods and short lived unsettled periods, bringing rain and
          perhaps some strong winds is the most probable scenario, but there is very low confidence in any detail. During
          the settled periods overnight frost is likely. Temperatures are likely to remain below average but some warmer
          daytime temperatures can be expected. As we head through the month any frosts should become more confined to northern
          parts.</p>
        
      </div>
    </div>

  </div>
</div>