host {
  float: left;
  margin-top: 10px;
  width: 25%;
  padding: 10px;
}

h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
}

button {
  font-size: 14px;
  font-family: inherit;
  background-color: #3498db;
  box-shadow: 1px 1px 1px #95a5a6;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #2980b9;
}

.profile {
  position: fixed;
  background-color: #b9d5e8;
  padding: 5px;
  margin-top: 8px;
  cursor: pointer;
}

  h4 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

.profile:hover {
  background-color: #3498db
}
 .col-1{
    display: inline-block;
    width: 40%; 
}
.col-1 h3{
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 22px;
}
.col-2{
    display: inline-block;
    width: 50%; 
    vertical-align: top;
    text-align: right;
}
.temperature{
    font-size: 22px;
}
.wheather-element {
  margin: auto-webkit-box-shadow 1px 1px 6px rgb(219, 52, 52);
  box-shadow : 1px 10px 10px #ccc;
  padding: 3rem;
  margin: auto;
  width: 500px;
  
}

